/*importando a fonte popins pelo navegador*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/*1° começar zerando caracteristicas do navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E2F5FA;
    color: #063643;
    font-family: "Poppins", sans-serif;
}

header{
    max-width: 100%;/*a sua largura sempre sera 100%*/
    height: 140px;
    background-color: #F8F8FF;
    display: flex; /*faz com que elementos diferentes, neste caso do cabeçalho, fiquem na mesma linha, aqui neste caso o logo e a list*/
    justify-content: space-around; /**/   
    align-items: center; /*Alinha verticalmente*/
    gap: 410px;
}

.logo{
    width: 250px;
    height: 68.82px;
}

.logo img {
    width: 250px;
    height: 68.82px;
    display: block;
}

nav{
    width: 490px;
}

/*como o ul é o elemento que contem a lista ou as listas, coisas como epaçamento dela em relação a outros elementos ou entre elas, margem em relação ao header, 
remover os pontos de númeração delemeentos. Essas coisas fazemos no ul*/
.menu ul{
    list-style: none;/* remove os pontos da lista */
    display: flex;/*coloca os <li> lado a lado*/
    gap: 36px;/*espaço entre os itens */
    margin-top: 52px 0px/*distância do topo*/;/*distância da parte de baixo*/
}

/**/

.menu ul li a{
    text-decoration: none;/*tira o sublinhado*/
    color: #063643;/*cor da fonte*/
    font-size: 24px;/*tamanho da fonte*/
    height: 36px;
}

.inicio{
    width: 63px;
  
}

.servicos{
    width: 100px;
  
}

.sobrenos{
    width: 120px;
   
}

.contatos{
    width: 99px;
}